body {
    font-family: "Fraunces", serif;
    margin: auto;
}

.intro {
    background-color: rgb(255, 252, 255);
}

.intro h1 {
    color: rgb(160, 182, 174);
    left: 5%;
    bottom: 55%;
}

.intro .line2 {
    color: rgb(160, 182, 174);
    font-weight: 300;
    left: 5%;
    bottom: 50%;
}

.intro .line3 {
    color: rgb(160, 182, 174);
    font-weight: 300;
    left: 5%;
    bottom: 45%;
}

.headshot {
    border-radius: 85%;
    width: 350px;
    height: auto;
    right: 5%;
    bottom: 45%;
}

.experience {
    background-color: rgb(160, 182, 174);
    color: rgb(255, 252, 255);
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    flex: 200px;
}

.content {
    background-color: rgb(160, 182, 174);
    visibility: hidden
}

.card {
    width: 250px;
    height: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.card img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
/* .content:hover {
    visibility: visible;
}

.card:hover {
    visibility: hidden
}*/

