body {
    font-family: "Fraunces", serif;
    margin: auto;
}

.intro-container {
    color: rgb(160, 182, 174);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 45px;
}

.intro-content h1 h2 {
    overflow: hidden;
}

span.cursor {
    display: inline-block;
    width: 3px;
    background-color: rgb(160, 182, 174);
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% { background-color: rgb(160, 182, 174); }
    49% { background-color: rgb(160, 182, 174); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: rgb(160, 182, 174); }
}

.headshot {
    border-radius: 85%;
    width: 500px;
    height: auto;
    padding-bottom: 35px;
    float: right;
    display: fixed;
    margin-left: 300px
}

#resume, #resume:visited {
    font-size: 25px;
    text-decoration: none;
    color: rgb(160, 182, 174);
    border: 3px solid rgb(160, 182, 174); 
    padding: 1px;
    border-radius: 5px;
}

#resume:active, #resume:hover, #resume:focus {
    color: rgb(255,252, 255);
    background-color: rgb(121, 156, 149);
    border: 3px double rgb(121, 156, 149);
}

.experience {
    background-color: rgb(160, 182, 174);
    color: #fffcff;
    width: auto;
    height: auto;
    padding-bottom: 20px;
}

.experience h1 {
    padding-top: 25px;
    padding-left: 10px;
    /*border: 5px solid blue;*/
}

.container {
    background-color: rgb(160, 182, 174);
    color: rgb(255, 252, 255);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    flex-basis: 250px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.container .content {
    padding-left: 10px;
    flex-basis: 1550px;
}

details {
    display: inline-block;
    padding-left: 5px;
}

details[open] {
    font-weight: normal;
    padding-top: 3px;
    padding-left: 0px;
}

.content-button {
    text-decoration: none;
    color: rgb(255, 252, 255);
    border: 2px solid rgb(255, 252, 255);
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
}

.content-button:hover, .content-button:active, .content-button:focus {
   background-color: rgb(255, 252, 255);
   border: 2px solid rgb(121, 156, 149);
   color: rgb(121, 156, 149); 
}

.card {
    float: left;
    margin-left: 25px;
    margin-right: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

/*.card:hover {
    border: 5px solid rgb(121, 156, 149);
}*/

.footer-container {
    color: rgb(160, 182, 174);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
}

.footer-content {
    text-align: center;
}

.footer-links {
    list-style-type: none;
    text-align: center;
    display: absolute;
    margin: 0px;
    padding: 0px;
    align-content: center;
    /*border: 5px solid blue;*/
    padding-bottom: 25px;
}

.footer-links li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.bi {
    font-size: 30px;
    color: rgb(160, 182, 174);
}

.bi-linkedin:hover, .bi-github:hover {
    font-size: 40px;
}